body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #d1ffff77;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

#cardsContainer {
    display: flex;
    gap: 1rem;
}

.card {
    width: 25rem;
    box-shadow: 0px 0px 20px rgba(100, 100, 100, .5);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.card * {
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0 auto 1rem auto;
}

.card img {
    height: 25rem;
    object-fit: cover;
}


@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}



